@model GUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="spacer">

        <div class="blog">
            <div class="blog-header">
                <h5 class="blog-title">Change Password</h5>
            </div>
            <div class="blog-body">
                <form id="movieForm" method="post" novalidate="novalidate" class="bv-form">
                    <div class="form-group has-feedback">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })

                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="Change password" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
