@model GUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "_login.cshtml";

}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="forgot-pwd">
        <div class="login-header">
            <h4>Reset your Password</h4>
        </div>
        <form>
            <div class="form-group has-feedback">
                <h4>Enter your email.</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })


                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <input type="submit" value="Reset" class="btn btn-danger btn-lg btn-block">
            <br />
            <div onclick="location.href='@Url.Action("Register", "Account")';return false;">Don't have an account? <span class="text-danger">Sign Up</span></div>
        </form>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

