@model IEnumerable<GUI.Models.CommentViewModels>

@{
    ViewBag.Title = "getComment";
}

@section Scripts{
    <script src="@Url.Content("~/Content/AdminJs/jquery.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/AdminJs/bootstrap.min.js")"></script>
    <!-- Sparkline graphs -->
    <script src="@Url.Content("~/Content/AdminJs/sparkline.js")"></script>
    <!-- Data tables -->
    <script src="@Url.Content("~/Content/AdminJs/jquery.datatables.js")"></script>
    <!-- jquery ScrollUp JS -->
    <script src="@Url.Content("~/Content/AdminJs/scrollup/jquery.scrollUp.js")"></script>
    <!-- Custom Index -->
    <script src="@Url.Content("~/Content/AdminJs/custom.js")"></script>
    <script src="@Url.Content("~/Content/AdminJs/custom-datatables.js")"></script>
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">Games</h4>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dt_example" class="table-responsive example_alt_pagination clearfix">
                        <div class="dataTables_filter" id="data-table_filter">


                            <button type="button" class="btn btn-info"><i class="fa fa-plus"></i>@Html.ActionLink("Create New", "Create")</button>
                            <table class="table no-margin table-condensed table-striped table-hover pull-left" id="data-table">
                                <thead>
                                    <tr>
                                        <th>
                                            Avatar
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.user.firstName)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.description)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.date)
                                        </th>
                                        
                                      
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeU">
                                            <td>
                                                <img src="~/Content/@item.user.image_link" height="100" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.user.firstName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.date)
                                            </td>
                                           
                                           
                                            
                                            <td>

                                                <div class="fa fa-trash-o">  @Html.ActionLink("Delete", "DeleteComm", new { id = item.idArticle ,idUser= item.idUser, date=item.date }) </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row Ends -->
</div>
<!-- Spacer ends -->
</div>
<!-- Container fluid ends -->
