@model IEnumerable<GUI.Models.newsViewModels>

@section Scripts{


    <script type="text/javascript">



    $(document).ready(function () {
        sparklineeGraphs();
    });
    function sparklineeGraphs() {
        var $grid_color = "#e6e6e6";

        var $dark_blue = "#2b3d51";
        var $info = "#53ACDF";
        var $info_light = "#B0D0EC";
        var $danger = "#D66061";
        var $danger_light = "#E9AFB0";
        var $warning = "#ffb61c";
        var $success = "#76BBAD";
        var $success_light = "#C2DBAC";
        var $yellow = "#ffee00";
        var $facebook = "#4c66a4";
        var $twitter = "#00acee";
        var $linkedin = "#1a85bd";
        var $gplus = "#dc4937";
        var $grey = "#666666";

        var $blue_one = "#74b1d4";
        var $blue_two = "#84bad9";
        var $blue_three = "#9bc7e0";
        var $blue_four = "#afd2e6";
        var $blue_five = "#badff2";

        // Pie charts
        $(function () {

            $("#sparkk_1").sparkline([@ViewBag.TotalCount], {
                type: 'pie',
                sliceColors: [$warning],
            });

            $("#spark_0").sparkline([@ViewBag.newsCount, @ViewBag.notcommented ], {
                type: 'pie',
                sliceColors: [$blue_one, $blue_five],
                width: '136px ',
                height: '136px'
            });
        });
    }

    //Resize charts and graphs on window resize
    $(document).ready(function () {
        $(window).resize(function () {
            sparklineGraphs();
        });
    });

    </script>

    <script type="text/javascript">

    var $border_color = "#ccc";
    var $grid_color = "#ccc";
    var $default_black = "#666";

    var $primary = "#005387";
    var $info = "#87CEEB";
    var $danger = "#F56B6B";
    var $warning = "#F38733";
    var $success = "#2ecc71";
    var $yellow = "#fdd922";
    var $facebook = "#3b5999";
    var $twitter = "#00acee";
    var $linkedin = "#1a85bd";
    var $gplus = "#dc4937";

    $(function () {

        var d1, d2, data, chartOptions;

        var d1 = [[1262304000000, @ViewBag.nbComm1], [1264982400000, @ViewBag.nbComm2], [1267401600000, @ViewBag.nbComm3], [1270080000000, @ViewBag.nbComm4], [1272672000000, @ViewBag.nbComm5], [1275350400000, @ViewBag.nbComm6], [1277942400000, @ViewBag.nbComm7], [1280620800000, @ViewBag.nbComm8], [1283299200000, @ViewBag.nbComm9], [1285891200000,@ViewBag.nbComm10], [1288569600000, @ViewBag.nbComm11], [1291161600000, @ViewBag.nbComm12]];

        data = [{
            label: "comments",
            data: d1
        }];

        chartOptions = {
            xaxis: {
                min: (new Date(2009, 11)).getTime(),
                max: (new Date(2010, 11)).getTime(),
                mode: "time",
                tickSize: [1, "month"],
                monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                tickLength: 0
            },
            yaxis: {
                min: 0,
                max: 50,

            },
            series: {
                lines: {
                    show: true,
                    fill: false,
                    lineWidth: 1,
                },
                points: {
                    show: true,
                    radius: 4,
                    fill: true,
                    fillColor: "#ffffff",
                    lineWidth: 2
                }
            },
            grid: {
                hoverable: true,
                clickable: true,
                borderWidth: 1,
                tickColor: $border_color,
                borderColor: $grid_color,
            },
            shadowSize: 0,
            legend: {
                show: true,
                position: 'nw'
            },

            tooltip: true,
            tooltipOpts: {
                content: '%s: %y'

            },
            colors: [$facebook, $gplus, $twitter],
        };

        var holder = $('#line-chart');

        if (holder.length) {
            $.plot(holder, data, chartOptions);
        }


    });
    </script>

    <script type="text/javascript">
    var $border_color = "#eee";
    var $grid_color = "#eee";
    var $default_black = "#666";

    var $info = "#5B90BF";
    var $danger = "#D66061";
    var $warning = "#ffaa3a";
    var $success = "#76BBAD";
    var $yellow = "#ffee00";
    var $facebook = "#4c66a4";
    var $twitter = "#00acee";
    var $linkedin = "#1a85bd";
    var $gplus = "#dc4937";
    var $brown = "#ab7967";

    var $blue_one = "#6d9cc6";
    var $blue_two = "#7ca6cc";
    var $blue_three = "#8bb0d2";
    var $blue_four = "#99bad7";
    var $blue_five = "#a8c4dd";

    $(function () {

        var data, chartOptions;

        data = [
            { label: "active users", data: @ViewBag.usersComm },
            { label: "Non actice users", data: @ViewBag.NonActiveUsers },
        ];

        chartOptions = {
            series: {
                pie: {
                    show: true,
                    innerRadius: .5,
                    stroke: {
                        width: 1,
                    }
                }
            },
            shadowSize: 0,
            legend: {
                position: 'nw'
            },
            grid: {
                hoverable: true,
                clickable: true,
                borderWidth: 1,
                tickColor: $border_color,
                borderColor: $grid_color,

            },



            tooltip: true,

            tooltipOpts: {
                content: '%s: %y'


            },
            colors: [$blue_one, $blue_five],


        };

        var holder = $('#donut-chart');

        if (holder.length) {
            $.plot(holder, data, chartOptions);
        }

    });
    </script>



}









<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="blog blog-success no-margin">
            <div class="blog-header">
                <h5 class="blog-title">Comments Stats</h5>
            </div>
            <div class="blog-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered no-margin">
                        <tbody>
                            <tr>



                                <th>
                                    @Html.DisplayNameFor(model => model.link_img)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.name)
                                </th>

                                <th>
                                    Comments Number
                                </th>

                                <th rowspan="20" class="center-align-text">
                                    <div class="row">

                                        <div class="col-md-4">

                                            <span class="badge badge-info">
                                                Most Commented News
                                            </span>

                                            <br />
                                            <br />

                                            <span class="badge badge-success">
                                                Not Commented News
                                            </span>
                                            <br />
                                            <br />
                                            Total
                                            <span class="chart" id="sparkk_1"></span>


                                        </div>

                                        <div class="col-md-4">

                                            <div class="chart" id="spark_0"></div>


                                        </div>



                                    </div>

                                </th>



                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>



                                    <td>
                                        <img src="~/Content/@item.link_img" height="50" />
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @item.commentts.Count()
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-body">
    <div id="line-chart" class="chart-height"></div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="blog">
        <div class="blog-header">
            <h5 class="panel-title">Pie Chart</h5>
        </div>

        <div id="donut-chart" class="chart-height"></div>

    </div>
</div>
