@model IEnumerable<TAG_Domain.Entities.forumthread>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script src="@Url.Content("~/Content/AdminJs/jquery.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/AdminJs/bootstrap.min.js")"></script>
    <!-- Sparkline graphs -->
    <script src="@Url.Content("~/Content/AdminJs/sparkline.js")"></script>
    <!-- Data tables -->
    <script src="@Url.Content("~/Content/AdminJs/jquery.datatables.js")"></script>
    <!-- jquery ScrollUp JS -->
    <script src="@Url.Content("~/Content/AdminJs/scrollup/jquery.scrollUp.js")"></script>
    <!-- Custom Index -->
    <script src="@Url.Content("~/Content/AdminJs/custom.js")"></script>
    <script src="@Url.Content("~/Content/AdminJs/custom-datatables.js")"></script>
}

<!-- Spacer starts -->
<div class="spacer">

    <!-- Row Starts -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Forumthreads</h4>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dt_example" class="table-responsive example_alt_pagination clearfix">
                            <div class="dataTables_filter" id="data-table_filter">
                                <button type="button" class="btn btn-info"><i class="fa fa-plus"></i> @Html.ActionLink("Create New", "Create1")</button>
                                <button type="button" class="btn btn-info"><i class="fa fa-plus"></i> @Html.ActionLink("Chat", "Chat")</button>
                                <table class="table no-margin table-condensed table-striped table-hover pull-left" id="data-table">
                                    <thead>
                                        <tr>

                                            <th>
                                                @Html.DisplayNameFor(model => model.user)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.description)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.date)
                                            </th>


                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="~/Content/@item.link_imgg" height="100" width="100" />
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.description)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.date)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.idArticle }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.idArticle }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.idArticle }) |
                                                    @Html.ActionLink("ListCmt", "ListCmt", new { id = item.idArticle })|
                                                    @Html.ActionLink("AddCmomment", "Create2", new { id = item.idArticle })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row Ends -->
    </div>
    <!-- Spacer ends -->
</div>
<!-- Container fluid ends -->
